            <td>
                <p>$cell_text</p>
                <a target="_blank" href="$image_file_name">
                    <img src="$image_file_name" width="600"/>
                </a>
            </td>